<!DOCTYPE html>
<html>
  <head>
    <title>记账本</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
  <div class="wrap">
    <div class="title">
      <h2 class="title-item">登录</h2>
    </div>
    <hr>
    <form action="/login" method="post">
      用户名<br>
      <input type="text" name="userName"><br>
      密码<br>
      <input type="password" name="password"><br>
      <hr>
      <button>登录</button>
    </form>
    <div class="reg">
      没账号？<a href="/reg">立即注册</a>
    </div>
  </div>

  </body>
</html>
