<!DOCTYPE html>
<html>
  <head>
    <title>记账本</title>
    <link rel="stylesheet" href="/stylesheets/reg.css">
  </head>
  <body>
  <div class="wrap">
    <div class="title">
      <h2 class="title-item">注册</h2>
    </div>
    <hr>
    <form action="/reg" method="post">
      用户名<br>
      <input type="text" name="userName"><br>
      密码<br>
      <input type="password" name="password"><br>
      <hr>
      <button>添加</button>
    </form>
  </div>

  </body>
</html>
