<!DOCTYPE html>
<html>
<head>
    <title>记账本</title>
    <link rel="stylesheet" href="/stylesheets/status.css">
</head>
<body>
<div class="wrap">
    <h2>:) <%= message %></h2>
    <p>
        <a href="<%= link %>">点击跳转</a>
    </p>
</div>
</body>
</html>
